<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" href={% static "foundation/css/foundation.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "foundation/icons/foundation-icons.css" %}>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test_aideco</title>

</head>

<body>

<script src={% static "foundation/js/vendor/jquery.js" %}></script>
<script src={% static "foundation/js/vendor/foundation.js" %}></script>
<script src={% static "foundation/js/vendor/what-input.js" %}></script>
<script src={% static "foundation/js/app.js" %}></script>

<script>
    $(document).foundation();
</script>


<div class="grid-container">

    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h1 class="title-bar text-center fi-ticket"> Welcome to Airport </h1>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="large-12 cell text-center">
            <ul>
                <a class="button fi-arrow-down medium-2" href={% url 'a' %}> Arrivals </a>
                <a class="button fi-arrow-up medium-2" href={% url 'd' %}> Departures </a>

                <a class="button secondary fi-page-add medium-2" href={% url 'fill_db' %}> Fill data </a>
            </ul>
        </div>
    </div>

</div>

{% block main %}
    <h1 class="text-center fi-like"> Select Arrivals or Departures </h1>
{% endblock %}

<script src="/foundation/js/vendor/jquery.js"></script>
<script src="/foundation/js/vendor/what-input.js"></script>
<script src="/foundation/js/vendor/foundation.js"></script>
<script src="/foundation/js/app.js"></script>
</body>
</html>